body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

#teclado {
    display: grid;
    grid-template-columns: repeat(10, 50px);
    grid-gap: 5px;
}

.tecla {
    width: 50px;
    height: 50px;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

#entrada-texto {
    margin-top: 20px;
    padding: 10px;
    font-size: 18px;
}

#botao-salvar {
    margin-top: 10px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
}
